.section-adress {
  background-color: #c6104f;
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  height: 30px;
  padding-top: 7px;
}

.link-adress {
  color: #fecce3;
}

.link-adress:hover {
  color: #f584b5;
}

.section-nav {
  width: 100%;
  background: #fdcde5;
  height: 100px;
}

.section-list {
  list-style: none;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.items-list {
  text-decoration: none;
  font-size: 23px;
  color: #55021a;
}

.items-list:hover {
  border-bottom: 3px solid #a70d3b;
  font-weight: bold;
  color: #a70d3b;
}
